---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Region from '../components/Region.astro';
import Activities from '../components/Activities.astro';
---

<Layout title="A Casa da Talha Velha">
	<main>
		<Hero />
		<Region />
		<Activities />
	</main>
</Layout>