<section class="section section--region">  
    <div class="innerWrapper">
        <h2 class="section__title">A região</h2>
        <p>Vila de Frades, conhecida como a "Capital do Vinho de Talha", é uma pequena joia no Alentejo, rica em história, cultura e tradições. Rodeada por vinhedos, olivais e paisagens de perder o fôlego, esta aldeia oferece a autêntica essência alentejana. Aqui, o tempo parece ter outra dimensão, permitindo-lhe desfrutar de cada momento ao seu próprio ritmo.</p>
        <p>A região da Vidigueira é famosa pela produção de vinhos de excelência e pela sua herança histórica, marcada por influências romanas e árabes. A cultura vinícola da Vidigueira remonta a séculos e, em Vila de Frades, pode vivenciar a tradição da produção do vinho de talha, uma técnica ancestral que continua viva até hoje.</p>
    </div>
</section>